
[submodule "3rdparty/unittest/unittest"]
	path = 3rdparty/unittest/unittest
	url = https://github.com/unittest-cpp/unittest-cpp.git
[submodule "3rdparty/hwinfo/hwinfo"]
	path = 3rdparty/hwinfo/hwinfo
	url = https://github.com/lfreist/hwinfo.git
[submodule "3rdparty/tree_sitter/tree_sitter"]
	path = 3rdparty/tree_sitter/tree_sitter
	url = https://github.com/tree-sitter/tree-sitter.git
[submodule "3rdparty/pfd/pfd"]
	path = 3rdparty/pfd/pfd
	url = https://github.com/samhocevar/portable-file-dialogs.git
[submodule "3rdparty/flecs/flecs"]
	path = 3rdparty/flecs/flecs
	url = https://github.com/CyberPlaton/flecs.git
[submodule "3rdparty/asio/include/asio"]
	path = 3rdparty/asio/include/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "3rdparty/rttr/rttr"]
	path = 3rdparty/rttr/rttr
	url = https://github.com/CyberPlaton/rttr.git
[submodule "3rdparty/tracy/tracy"]
	path = 3rdparty/tracy/tracy
	url = https://github.com/CyberPlaton/tracy.git
[submodule "3rdparty/tsl/tsl"]
	path = 3rdparty/tsl/tsl
	url = https://github.com/CyberPlaton/tsl.git
