[submodule "3rdparty/bx/bx"]
	path = 3rdparty/bx/bx
	url = https://github.com/bkaradzic/bx.git
[submodule "3rdparty/sdl/SDL"]
	path = 3rdparty/sdl/SDL
	url = https://github.com/libsdl-org/SDL.git
	branch = SDL2
[submodule "3rdparty/bimg/bimg"]
	path = 3rdparty/bimg/bimg
	url = https://github.com/bkaradzic/bimg.git
